<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luceaw.scanner">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/example_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/example_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CompassActivity"></activity>
        <activity
            android:name=".splash_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Networking Signal Finder"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".allActivityGraphs"
            android:label="Sum of all signals" />
        <activity
            android:name=".AllActivity"
            android:label="Sum of all signals" />
        <activity
            android:name=".NetworkActivity"
            android:label="Scan Network" />
        <activity
            android:name=".BluetoothActivity"
            android:label="Scan Bluetooth" />
        <activity
            android:name=".WifiActivity"
            android:label="Scan WiFi" />
        <activity
            android:name=".MainActivity"
            android:label="Home Page" />
        <activity android:name=".scannerAppTools" />
        <activity android:name=".TopExceptionHandler" />

        <receiver
            android:name=".MyReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.luceaw.scanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"></meta-data>
        </provider>
    </application>

</manifest>