<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luceaw.scanner">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:roundIcon="@drawable/example_icon"
        android:icon="@drawable/example_icon"
        >


        <activity
            android:name="com.luceaw.scanner.splash_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Networking Signal Finder"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.luceaw.scanner.allActivityGraphs"
            android:label="Sum of all signals" />
        <activity
            android:name="com.luceaw.scanner.AllActivity"
            android:label="Sum of all signals" />
        <activity
            android:name="com.luceaw.scanner.NetworkActivity"
            android:label="Scan Network" />
        <activity
            android:name="com.luceaw.scanner.BluetoothActivity"
            android:label="Scan Bluetooth" />
        <activity
            android:name="com.luceaw.scanner.WifiActivity"
            android:label="Scan WiFi" />
        <activity
            android:name="com.luceaw.scanner.MainActivity"
            android:label="Home Page" />
        <activity android:name="com.luceaw.scanner.scannerAppTools" />
        <activity android:name="com.luceaw.scanner.TopExceptionHandler" />
        <receiver android:name="MyReceiver" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.luceaw.scanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths">

            </meta-data>

        </provider>

    </application>

</manifest>